<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :restaurant_name %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :restaurant_rating %>
  </div>

  <div class="field">
    <%= form.label :is_tenbis %>
    <%= form.check_box :is_tenbis, id: :restaurant_is_tenbis %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :restaurant_address %>
  </div>

  <div class="field">
    <%= form.label :maximum_delivery_time %>
    <%= form.number_field :maximum_delivery_time, id: :restaurant_maximum_delivery_time %>
  </div>

  <div class="field">
    <%= form.label :cuisine_id %>
    <%= form.text_field :cuisine_id, id: :restaurant_cuisine_id %>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_field :review, id: :restaurant_review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
